.pp-outter {
  //   height: 72px;
  // background-color: goldenrod;
  padding-bottom: 120px;
  .row {
    display: flex;
    justify-content: center;
    // background-color: rgb(112, 67, 67);
    .grid-demo {
      // background-color: rgb(126, 44, 44);
      .card {
        width: 202px;
        margin-left: 50px;
        .card-div {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .card-span {
          display: flex;
          align-items: center;
          color: #1d2129;
          .card-text {
            margin-left: 16px;
            font-size: 18px;
            font-weight: 500;
            color: #181819;
          }
        }
      }
    }
  }
  .feature {
    // background-color: blueviolet;
    padding: 80px 0;
    .title {
      font-weight: 600;
      font-size: 36px;
      line-height: 50.4px;
      margin-top: 120px;
      margin-bottom: 0;
      text-align: center;
      margin: 64px 0;
    }
    .feat {
      display: flex;
      justify-content: center;
      // background-color: rgb(147, 35, 145);

      .demo-item {
        // background-color: green;
        .card-container {
          background-color: rgb(64, 84, 98);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          box-sizing: border-box;
          padding: 20px;
          background-color: #fff;
        }

        .card_ {
          width: 528px;
          height: 238px;
          line-height: 23px;
        }
      }
    }
  }
  .more-function {
    margin: 0 auto;
    width: 150px;
  }
}
